# Node modules
node_modules/

# Dossiers de build
dist/
build/

# Fichiers compilés JavaScript
*.js
*.js.map

# Dossier de cache TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement local
.env
.DS_Store

# IDEs
.vscode/
.idea/
